*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body{
    background-color: #101014;
}
html{
    scroll-behavior: smooth;
}

.Scale{
    max-width: 100%;
    height: 50vw;
}

/* Info bar */
.Info{
    width: 100%;
    height: 3vw;

    background-color: #1b1b22;

    position: fixed;

    z-index: 998;

}
.Info ul{

    list-style-type: none;
    text-align: center;

}
.Info li{
    display: inline;
}
.Info button{
    margin-top: 0.5vw;

    width: 6vw;
    height: 2vw;
    margin-right: 50px;

    background-color: transparent;
    border: none;
    cursor: pointer;

    color: aliceblue;
    font-family: sans-serif;
    font-size: 1vw;

    border-left: 1px solid aliceblue;
    border-right: 1px solid aliceblue;


    transition-duration: 0.4s;
}

.But:hover{
    background-color: rgba(167, 167, 167, 0.3);
}

/* Home Page */
.HomePage{
    max-width: 100%;
    height: 47vw;

    justify-content: center;
    align-items: center;
    overflow: hidden;

    transition-duration: 0.4s;

}
.HomePageBackground{
    max-width: 100%;

    display: inline;
    object-fit: fill;

    filter: brightness(55%);
}

/* Home Page Text */
.HomePageText{
    max-width: 100%;
    height: 5vw;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-top: 25vw;

    transition-duration: 0.4s;
}

.HomePageText h1{
    color: aliceblue;
    font-size: 5vw;
    font-family: sans-serif;
}

/* Socials */
.HomePageText ul{
    position: absolute;

    height: 3vw;

    margin-left: 25%;
}

.HomePageText li{
    display: inline-block;
}

.HomePageText button{
    border-radius: 50%;
    border: none;

    width: 3.5vw;
    height: 3.5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    object-fit:cover;
    overflow: hidden;
}

.HomePageText button:hover{
    border-radius: 0.5vw;
    cursor: pointer;
}

.SocialImages{
    max-width:100%;
    max-height:100%;

    -webkit-user-drag: none;

}

/* About */
.About{
    max-width: 100%;
    height: 5vw;

    background-color: #1b1b22;

}

.AboutText{
    position: absolute;
    overflow: hidden;
    transform: translate(15vw, 1vw);

}

.AboutText h1{
    color: aliceblue;

    font-family: sans-serif;
    font-size: 2.5vw;
}

/* About Section */
.AboutSection{
    max-width: 100%;
    height: 30vw;

    background-color: #232329;

}

.AboutSection img{
    width: 20vw;
    height: 25vw;

    margin-left: 25vw;
    margin-top: 2.5vw;

    filter: brightness(0);
}
/* About Text Section */
.AboutMeText{
    width: 35vw;
    overflow-wrap: break-word;

    margin-left: 50vw;
    margin-top: -22vw;

    word-wrap: break-word;

    position: relative;
    overflow: hidden;

    border-bottom: 0.3vw aliceblue solid;
}

.AboutMeText h1{
    color: aliceblue;
    
    font-family: sans-serif;
    font-size: 2vw;
}

/* Project Section */
.Projects{
    max-width: 100%;
    height: 35vw;
    background-color: #232329;


    display: flex;
    align-items: center;
    justify-content: center;
}

.Projects ul{
    list-style-type: none;
    text-align: center;
}

.Projects li{
    display: inline-block;
    margin-left: 2vw;
}
/* Project Section UI*/
.ProjectSection{
    width: 20vw;
    height: 25vw;
    
    background-color: #1b1b22;
    overflow: hidden;
}

.Img{
    width: 12vw;
    height: 12vw;
    margin-top: 1vw;


    margin-left: 4.5vw;

    overflow: hidden;
    position: relative;
}

.ImageContain{
    position: absolute;

    width: 100%;
    height: 12vw;

 }

 .ImageContain div{

    height: 20vw;
    width: 25vw;

    background-image: url(Images/Itch.png);
    background-size: contain;
    background-size: 3vw;

    -webkit-user-drag: none;

    transform: rotate(30deg);

    margin-left: -10vw;
    margin-top: -4vw;

 }
  

.ProjectSection h1{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 2vw;
}

.ProjectSection button{
    width: 5vw;
    height: 3vw;

    margin-top: 3vw;

    background-color: transparent;
    border: 2px solid orange;
    cursor: pointer;

    color: aliceblue;
    font-family: sans-serif;
    font-size: 1vw;
}

.ProjectSection button:hover{
    transition: 0.8s;
    background-color: orange;
}


/*Project Section Window */
.ProjectSectionWindowBack{
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(27, 27, 34, 0.8);

    transform: translate(0vh,-50vw);

    position: fixed;
    z-index: 999;

    display: none;
    

}
.ProjectSectionWindow{
    height: 35vw;
    width: 35vw;

    background-color: #232329;

    transition: 0.5s;
}

.X{
    width: 2vw;
    height: 2vw;

    font-family: sans-serif;
    font-size: 1.5vw;

    float: right;
    margin-top: 1vw;
    margin-right: 1vw;

    background: transparent;
    border: none;

    color: aliceblue;

    cursor: pointer;
}
.X:hover{
    transition: 0.4s;
    background-color: rgba(167, 167, 167, 0.3);
}

.ProjectSectionWindow h1{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 2vw;

    display: flex;
    justify-content: center;

    margin-top: 3vw;
}
.ProjectSectionWindowBackText{

    height: 20vw;
    width: 33vw;

    margin-top: 2vw;

    word-wrap: break-word;
    overflow-wrap: break-word;

    background-color: #1d1d23;

    margin-left: 1vw;
}
.ProjectSectionWindowBackText h2{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 1.5vw;
}

.Visit{
    width: 5vw;
    height: 3vw;

    background-color: transparent;
    border: 2px solid orange;
    cursor: pointer;

    color: aliceblue;
    font-family: sans-serif;
    font-size: 1vw;


    margin-left: 15vw;
    margin-top: 3vw;
}

.Visit:hover{
    transition: 0.8s;
    background-color: orange;
}



/* Contact Me Section */
.ContactInfo{
    height: 10vw;

    background-color: #1b1b22;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}


.ContactInfo ul{
    list-style-type: none;
    text-align: center;

    margin-top: -5vw;
}

.ContactInfo li{
    display: block;
}

.ContactIcons{
    width: 3vw;
    height: 2vw;

    overflow: hidden;

    border: 1px aliceblue solid;
}

.ContactIcons img{
    max-width: 100%;
    max-height: 100%;
    -webkit-user-drag: none;
}

.ContactInfo h1{
    margin-top: -2vw;
    margin-left: 5vw;

    color: aliceblue;
    font-size: 1.5vw;
    font-family: sans-serif;

}



/* scaling for devices */
@media (max-width: 768px) {
/* Info bar */
.Info{
    height: 22vw;
}
.Info button{
    margin-top: 0.5vw;

    width: 19vw;
    height: 5vw;

    font-size: 3vw;

    transition-duration: 0.4s;

    margin-top: 5vw;
    margin-left: 15vw;


}

/* Home Page*/
.HomePage{
    height: 160vw;

}
.HomePage img{
    max-width: 100%;
    height: 150vh;

    display: inline;
    object-fit: cover;
}

/* Home Page Text */
.HomePageText{
    transform: translate(-50%, 50vw);
}

.HomePageText h1{
    font-size: 15vw;
}

/* Socials */
.HomePageText button{

    width: 10vw;
    height: 10vw;
}

/* About */
.About{
    height: 15vw;

}

.AboutText{
    position: absolute;
    overflow: hidden;
    transform: translate(15vw, 1vw);

}

.AboutText h1{
    font-size: 10.5vw;
}

/* About Section */
.AboutSection{
    height: 80vw;
}

.AboutSection img{
    width: 35vw;
    height: 50vw;

    margin-left: 10vw;

    margin-top: 10vw;
}
/* About Text Section */
.AboutMeText{
    width: 45vw;
    overflow-wrap: break-word;

    margin-left: 50vw;
    margin-top: -45vw;
}

.AboutMeText h1{
    color: aliceblue;
    
    font-family: sans-serif;
    font-size: 3.5vw;
}

/* Project Section */
.Projects{
    min-height: 200vw;
}

.Projects ul{
    list-style-type: none;
    text-align: center;
}

.Projects li{
    display: inline-block;
    margin-left: 2vw;
}
/* Project Section UI*/
.ProjectSection{
    width: 80vw;
    height: 80vw;
}

.Img{
    width: 30vw;
    height: 30vw;
    margin-top: 5vw;


    margin-left: 28vw;

    border: 1px red solid;
}

.ImageContain{
    position: absolute;

    width: 100%;
    height: 12vw;

 }

 .ImageContain div{

    height: 40vw;
    width: 50vw;

    background-size: 6vw;

    margin-left: -10vw;
    margin-top: -5vw;

 }
  

.ProjectSection h1{
    margin-top: 3vw;
    font-size: 6vw;
}

.ProjectSection button{
    width: 15vw;
    height: 10vw;

    font-size: 5vw;

    margin-top: 20vw;
    margin-left: 5vw;
}


/*Project Section Window */
.ProjectSectionWindow{
    height: 95vw;
    width: 85vw;

    background-color: #232329;

    transition: 0.5s;
}

.X{
    width: 10vw;
    height: 10vw;

    font-size: 5.5vw;
}

.ProjectSectionWindow h1{

    display: flex;
    justify-content: center;

    margin-top: 10vw;
    font-size: 5vw;
    margin-left: 10vw;
}
.ProjectSectionWindowBackText{

    height: 55vw;
    width: 83vw;

    margin-top: 5vw;

    background-color: #1d1d23;

    margin-left: 1vw;
}
.ProjectSectionWindowBackText h2{
    font-size: 4vw;
}

.Visit{
    width: 20vw;
    height: 10vw;

    font-size: 5.5vw;

    margin-left: 40%;
    margin-top: 5vw;
}

/* Contact Me Section */
.ContactInfo{
    height: 20vw;
}


.ContactInfo ul{
    list-style-type: none;
    text-align: center;

    margin-top: -5vw;
}

.ContactInfo li{
    display: block;
}

.ContactIcons{
    width: 6vw;
    height: 4vw;

    overflow: hidden;

    border: 1px aliceblue solid;

    margin-left: -5vw;

}

.ContactIcons img{
    width: 10vw;
    height: 10vw;
}

.ContactInfo h1{
    font-size: 5vw;
    margin-top: -6vw;
}
}